:root{
  --white: #f9faff;
  --platinum: #e3e4e8;
  --windsurfing: #32779b;
  --marina: #5a91c7;
  --onyx: #3c3d44;
  --black:#171321;
  --dkblue:#0d314b;
  --hotmag:#ff17e4;
  --magenta:#e310cb;
  --ld-bkgd:light-dark(var(--platinum), var(--black));
  --ld-text:light-dark(var(--onyx), var(--white));
  --ld-projects:light-dark(var(--windsurfing), var(--dkblue));
  --ld-projects-color:light-dark(var(--black),var(--white));
  --ld-blue:light-dark(var(--marina), var(--windsurfing));
  --ld-borders:light-dark(var(--black),var(--magenta));
  --ld-color-nav:light-dark(var(--windsurfing),var(--white));
  --ld-color-ft:light-dark(#fbfcff,#211b2f);
  --ld-color-form:light-dark(var(--white), var(--dkblue));
  --corners:24px 0;
  --base-font-size:1rem;
  --mono:"Oxygen mono", monospace;
  --sans:Oxygen, sans-serif;
}

html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-size: var(--base-font-size);
    font-family:var(--sans);
    background-color: var(--ld-bkgd);
    color: var(--ld-text);
}
.wrapper{
    max-width:1200px;
    margin:0 auto;
    padding: 1rem;
}
img{
    max-width: 100%;
    border-radius: var(--corners);
    border-right:1px solid var(--magenta);
    border-top: 1px solid var(--magenta);
    padding:1rem;
}
h1,h2, h3{
    margin: 0;
    padding: 0;
}

h1{
    font-size: calc(var(--base-font-size) *2.9);
}
p{
    line-height: 1.5;
}

a{
  color:var(--magenta);
}

a:hover{
  color:var(--hotmag);
    text-decoration: none;
}

#intro{
    display:grid;
    grid-template-columns:1fr;
    gap: 2rem;
    text-align: center;
}

nav {
    font-size: 90%;
    font-family: var(--mono);
}

nav ul{
    margin:0;
    padding: 0;
    list-style-type: none;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



nav a{
    color:var(--ld-color-nav);
    text-decoration: none;
    display: block;
}

nav a:hover{
    color: var(--magenta);
}

.button{
    background-color: var(--magenta);
    color: white;
    padding: 0.5rem;
    border-radius: 5px 0;
    font-family: var(--mono);

}

.button:hover{
    color: white;
    background-color: var(--hotmag);
}
